* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #2c3343;
}
.navbar {
    border-bottom: 1px solid grey !important;
    background-color: #2c3343;
}
.navbar-toggler {
    outline: none !important;
}
.containner {
    padding-left: 150px !important;
    padding-right: 150px !important;
}
.man2 {
    width: 100% !important;
}
.justice {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 200px;
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgba(0, 0, 0, 0.2) !important;
}
.thermis-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.navlink {
    color: #F9A826 !important;
}
.navlinkkk {
    color: #F9A826 !important;
}
.p-boy {
    position: relative;
    top: -25%;
    left: 3%;
}
i, .i {
    font-size: 13px;
}
.btn-1 {
    border: 1px solid #F9A826 !important;
}
.bgcolor {
    background-color: #F9A826 !important;
}
.fad {
    color: #F9A826 !important;
}
.grid-box {
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25% !important;
}
.grid-box2 {
    display: grid !important;
    grid-template-columns: 25% 50% 25% !important;
}
.money-section {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid grey !important;
}
.money-section:hover {
    background-color: #F9A826 !important;
    transition: 2s;
}


@media only screen and (max-width: 768px){
    .containner {
        padding-left: 7px !important;
        padding-right: 7px !important;
        background-attachment: fixed !important;
    }
    .justice, .navlink {
        display: none;
    }
    .money-section {
        border-radius: 10px !important;
        margin-bottom: 7px !important;
    }
    .grid-box, .grid-box2 {
        display: block !important;
    }
}